<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CUDA"/>
        <filter
          name="Java"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
      </watched>
      <dir
        name="aeron-agent">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="agent"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="agent"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="aeron-archive">
        <dir
          name="build">
          <dir
            name="generated-src">
            <dir
              name="io">
              <dir
                name="aeron">
                <dir
                  name="archive">
                  <dir
                    name="codecs">
                    <dir
                      name="mark"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="cpp">
              <dir
                name="client"/>
            </dir>
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="archive">
                    <dir
                      name="checksum"/>
                    <dir
                      name="client"/>
                    <dir
                      name="status"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="cpp"/>
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="archive">
                    <dir
                      name="checksum"/>
                    <dir
                      name="client"/>
                    <dir
                      name="status"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="aeron-client">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="c">
              <dir
                name="collections"/>
              <dir
                name="command"/>
              <dir
                name="concurrent"/>
              <dir
                name="protocol"/>
              <dir
                name="reports"/>
              <dir
                name="status"/>
              <dir
                name="uri"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="cpp">
              <dir
                name="command"/>
              <dir
                name="concurrent">
                <dir
                  name="atomic"/>
                <dir
                  name="broadcast"/>
                <dir
                  name="errors"/>
                <dir
                  name="logbuffer"/>
                <dir
                  name="reports"/>
                <dir
                  name="ringbuffer"/>
                <dir
                  name="status"/>
              </dir>
              <dir
                name="protocol"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="cpp_wrapper">
              <dir
                name="concurrent">
                <dir
                  name="atomic"/>
                <dir
                  name="errors"/>
                <dir
                  name="logbuffer"/>
                <dir
                  name="status"/>
              </dir>
              <dir
                name="util"/>
            </dir>
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="command"/>
                  <dir
                    name="exceptions"/>
                  <dir
                    name="logbuffer"/>
                  <dir
                    name="protocol"/>
                  <dir
                    name="security"/>
                  <dir
                    name="status"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="c">
              <dir
                name="collections"/>
              <dir
                name="concurrent"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="cpp">
              <dir
                name="command"/>
              <dir
                name="concurrent"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="cpp_wrapper"/>
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="command"/>
                  <dir
                    name="exceptions"/>
                  <dir
                    name="logbuffer"/>
                  <dir
                    name="protocol"/>
                  <dir
                    name="security"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="aeron-cluster">
        <dir
          name="build">
          <dir
            name="generated-src">
            <dir
              name="io">
              <dir
                name="aeron">
                <dir
                  name="cluster">
                  <dir
                    name="codecs">
                    <dir
                      name="mark"/>
                    <dir
                      name="node"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="cluster">
                    <dir
                      name="client"/>
                    <dir
                      name="service"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="cluster">
                    <dir
                      name="client"/>
                    <dir
                      name="service"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="aeron-driver">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="c">
              <dir
                name="agent"/>
              <dir
                name="concurrent"/>
              <dir
                name="media"/>
              <dir
                name="uri"/>
            </dir>
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="driver">
                    <dir
                      name="buffer"/>
                    <dir
                      name="exceptions"/>
                    <dir
                      name="ext"/>
                    <dir
                      name="media"/>
                    <dir
                      name="reports"/>
                    <dir
                      name="status"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="c">
              <dir
                name="agent"/>
              <dir
                name="media"/>
            </dir>
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="driver">
                    <dir
                      name="buffer"/>
                    <dir
                      name="ext"/>
                    <dir
                      name="media"/>
                    <dir
                      name="reports"/>
                    <dir
                      name="status"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="aeron-samples">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="c">
              <dir
                name="raw"/>
            </dir>
            <dir
              name="cpp">
              <dir
                name="raw"/>
            </dir>
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="cluster"/>
                  <dir
                    name="samples">
                    <dir
                      name="archive"/>
                    <dir
                      name="cluster">
                      <dir
                        name="tutorial"/>
                    </dir>
                    <dir
                      name="echo">
                      <dir
                        name="api"/>
                    </dir>
                    <dir
                      name="raw"/>
                    <dir
                      name="security"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="cluster"/>
                  <dir
                    name="samples">
                    <dir
                      name="archive"/>
                    <dir
                      name="security"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="aeron-system-tests">
        <dir
          name="src">
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="archive"/>
                  <dir
                    name="cluster"/>
                  <dir
                    name="driver"/>
                  <dir
                    name="test">
                    <dir
                      name="driver"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="aeron-test-support">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="test">
                    <dir
                      name="cluster"/>
                    <dir
                      name="driver"/>
                    <dir
                      name="launcher"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="test">
                    <dir
                      name="launcher"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="buildSrc">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="io">
                <dir
                  name="aeron">
                  <dir
                    name="build"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C++"/>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Microsoft Visual C++"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple="thumbeb-pc-windows"
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_trunc="0"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java8"/>
</project>
